<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<div class="social row">
  <div class="github col-sm-2">
    <img height="50" width="50" src="http://www.cs.columbia.edu/~stratos/images/github.png">
    <a href="#">Github</a>
  </div>
</div>