<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-header">
    <%= link_to "Alexis Trinh", root_url, {class: "navbar-brand", id: "logo"} %>
  </div>
  <div class="container-fluid">
    <ul class='nav navbar-nav navbar-right'>
    <li><%= link_to 'About', static_pages_home_path %></li>
    <li><%= link_to 'Portfolio', static_pages_home_path %></li>
  </ul>
  </div>
</div>
